.snakemake/
data/*
!data/.gitkeep
demux/*
!demux/.gitkeep
qc_raw/*
!qc_raw/.gitkeep:wq
qc_demux/*
!qc_demux/.gitkeep
fastq/*
!fastq/.gitkeep
read_counts/*
!read_counts/.gitkeep
trimmed/*
!trimmed/.gitkeep
trimmed_reports/*
!trimmed_reports/.gitkeep
